#container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame{
    padding: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: slategrey;
    width: 18em;
    height: 31em;
    border-radius: 15px;
    flex-wrap: nowrap;

}



#screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: lightyellow;
    width: 220px;
    height: 79px;
    border-radius: 16px;
    margin-bottom: 33px;
    color: black;
    font-size: 30px;
}

p   {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-right: 12px;
    color: black;
}


.buttonsLeft    {
    display: flex;
    flex-direction: column;
    width: 60px;
    height:500px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 66px;
}

.multiplication,
.division,
.clear  {
    font-size: 33px;
    width: 60px;
    height: 120px;
    margin-left: -24px;
    margin-bottom: 16px;
}


.buttonsRight    {
    display: flex;
    flex-direction: column;
    width: 60px;
    height:500px;
    align-items: flex-end;
    justify-content: center;
    margin-top: 55px;
}

.addition,
.subtraction    {
    font-size: 42px;
    width: 60px;
    height: 130px;
    width: 60px;
    margin-bottom: 16px;
}

.equals {
    background-color: peachpuff;
    font-size: 42px;
    width: 60px;
    height: 90px;
}

#numberContainer    {
    width: 229px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.numberinos{
    padding: 15px;
    color: darkslategray;
    font-size: 49px;
    background-color: lightgoldenrodyellow;
    border: solid slategrey 1px;
    border-radius: 5px;
    margin-bottom: 0.25em;
}